@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100%));
    }
  }
  
  .animate-infinite-scroll {
    animation: scroll 15s linear infinite; /* Adjust speed as needed */
    white-space: nowrap;
  }